.Header__items {
  display: flex;
  gap: 24px;
}
.Header__item {
  color: var(--light-text-color);
  text-align: center;
  text-transform: capitalize;
  transition: var(--base-transition);
}
.Header__item:hover {
  opacity: var(--opacity-hover);
}
